################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PersoWebSite/v16/TestStore/0/testlog.manifest
/.vs/slnx.sqlite
/.vs/PersoWebSite/v16/TestStore/0/000.testlog
